.about_header {
  padding: 4rem 0rem;
}

.about_header .bg-heading-imag {
  background-image: url("../../assets/2941558.jpg");
  background-position: 0px 33%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_header .main-about {
  padding: 9rem 1rem;
  position: relative;
}
.about_header .header-content {
  position: absolute;
  left: 0;
  right: 0;
  /* top: 70%; */
  margin-left: auto;
  margin-right: auto;
}

.about_header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.about_header .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.about_content {
  padding: 4rem 0rem;
}

.about_content .right_sec_para {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  color: #7a7a7a;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: start;
  padding: 0px 20px;
  text-align: justify;
}

.abt_ussec_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}
.top_space {
  margin-top: 3rem;
}
